{% extends 'base.html' %}
{% block title %} Contactanos {% endblock %}
{% block content %}
	{% if info_enviado %}
		Gracias por enviar un comentario
		<br/>
		La informacion recibida fue la siguiente
		<p>Email utilizado : {{email}}</p>
		<p>Titulo : {{titulo}}</p>
		<p>Texto : <h3>{{texto}}</h3></p>
	{%else%}
		<form action="." method='post'>
			{% csrf_token %}
			{{ form.as_p }}
			<input class='btn btn-primary' type="submit" value='Enviar'>
		</form>
	{%endif%}
 {% endblock %}