{% extends 'base.html' %}
{% block title %} Inicio - Bienvenidos {% endblock %}
{% block content %}<h1>bienn</h1>
	Esta es mi primera pagina en django

	{% if user.is_authenticated %}
		<p>Bienvenido {{ user.username }}</p>
		{% if user.get_profile.photo %}
			<img src="/media/{{ user.get_profile.photo }}" width='100px' height='100px'>
		{% endif %}
		{% if user.get_profile.telefono %}
			<p>Numero de telefono :  {{ user.get_profile.telefono }}</p>
		{% endif %}
	{% endif %}

{% endblock %}