{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
		<form action="." method='post'>
			{% csrf_token %}
			{{ mensaje }}
			{{ form.as_p }}
			{% if next%}
				<input type="hidden" value="{{next}}" name="next">
			{% else %}
				<input type="hidden" value="/" name="next">
			{% endif %}
			<input class='btn btn-primary' type="submit" value='Enviar'>
			<h5>Registrate <a href="{% url 'vista_registro' %}">aqui</a></h5>
		</form>
{% endblock %}