{% extends 'base.html' %}
{% block title %} Lista de productos {% endblock %}
{% block content %}

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>¿Realmente desea eliminar el producto : <i><span id="modal_name"></span></i>?</p>
	      </div>
	      <div class="modal-footer">
	      	<form method="post" id="frmEliminar">
			{% csrf_token %}
			<input type="hidden" id="modal_idProducto" name="product_id">
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			<button type="submit" class="btn btn-danger">Eliminar</button>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Fin modal -->

	<h1>Catalogo de productos</h1>

	{% if user.is_authenticated %}

		<a class='btn btn-default' href="{% url 'vista_agregar_producto' %}"><li class='glyphicon glyphicon-plus'></li> Nuevo</a>
		
	{% endif %}
	{% if productos %}
		<table class="table table hover" id="tabla_productos">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Stock</th>
				</tr>				
			</thead>
		   <tbody>
			{%for p in productos %}
				<tr id="tr{{p.id}}">
					<td>{{p.nombre}}</td>
					<td>{{p.precio}}</td>
					<td>{{p.stock}}</td>
					<td><a href="{% url 'vista_sigle_producto' p.id %}" class="btn btn-default"><li class="glyphicon glyphicon-search"></li>Ver</a></td>
					<td><a href="#" class="btn btn-default"><li class="glyphicon glyphicon-shopping-cart"></li>Comprar</a></td>
					{# is_staff si el usuario puede acceder al panel de administracion#}
					{% if user.is_authenticated and user.is_staff %}
						<td><a href="{% url 'vista_editar_producto' p.id %}" class="btn btn-default"><li class="glyphicon glyphicon-pencil"></li>Editar</a></td>
						<td><a href="#myModal" class="btn btn-danger delete" role="button" data-toggle="modal" id="{{p.id}}" data-name="{{p.nombre}}"><li class="glyphicon glyphicon-trash"></li> Eliminar</a></td>
					{% endif %}
				</tr>
			{%endfor%}
		   </tbody>
		</table>
			
		{# acceso al paginador #}
		<ul class="pagination">
			<li><a href="{% url 'vista_productos' 1 %}"> << </a></li>
			{% if productos.has_previous %}
				<li><a href="{% url 'vista_productos' productos.previous_page_number %}"> Prev </a></li>
			{%else%}
				<li><a href="#"> Prev </a></li>
			{%endif%}
			{% if productos.has_next %}
				<li><a href="{% url 'vista_productos' productos.next_page_number %}"> Next </a></li>
			{%else%}
				<li><a href="#"> Next </a></li>
			{%endif%}
			<li><a href="{% url 'vista_productos' productos.paginator.num_pages %}"> >> </a></li>
		</ul>
		<h4>Página {{ productos.number }} de {{ productos.paginator.num_pages }}</h4>
		{# fin acceso al paginador #}
	{%else%}
		<h1>No existen productos a la ventaa :(</h1>
	{%endif%}

{% endblock %}