{% extends 'base.html' %}
{% block title %} Producto : producto.nombre {% endblock %}
{% block content %}
<h1>{{ producto.nombre }}</h1>
	{% if producto.imagen %}
		<img src="/media/{{ producto.imagen }}" width="150px" height="150px"/>
	{% endif %}
<p> {{ producto.descripcion }}</p>
<p> {{ producto.precio }}</p>
<p> Cantidad en Existencia : {{ producto.stock }}</p>
<br/>
<h5>Categorias : </h5>
{% for cat in cats %}
	<span class="label label-info">{{ cat.nombre }}</span>
{% endfor %}
<br/><br/>
{% if producto.stock and producto.stock > 0 %}
	<a href="#" class='btn btn-primary'>Comprar Producto</a>
{% endif %}
<a href="javascript:window.history.go(-1)" class="btn btn-info">Regresar a la lista</a>
{% endblock %}