{% extends 'base.html' %}
{% block title %} Registro {% endblock %}
{% block content %}
		<h2>Gracias por registrarte !!!</h2>
		<a href="/login" class='btn btn-primary'> Iniciar session</a>
{% endblock %}