{% extends 'base.html' %}
{% block title %} add Productos {% endblock %}
{% block content %}
	<h1>Agregando Productos</h1>
	<form action="." method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-primary" value="Grabar">
		<input type="reset" class="btn btn-danger" value="Limpiar">
	</form>
<br>
{{ informacion }}
<br/>
<a href="{% url 'vista_productos' %}">Regresar a la lista de Productos</a>
{% endblock %}