{% extends 'base.html' %}
{% block title %} add Productos {% endblock %}
{% block content %}
<h1>Editando Productos</h1>
<div class="row">
	<div class="col-md-6">
		<form action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" class="btn btn-primary" value="Grabar">
			<input type="reset" class="btn btn-danger" value="Limpiar">
		</form>
		<br/>
		<a href="{% url 'vista_productos' %}">Regresar a la lista de Productos</a>
	</div>
	<div class="col-md-6">
		<img src="/media/{{producto.imagen}}" width="200px">
	</div>
</div>
<br>
{{ informacion }}
{% endblock %}