<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title%}Titulo Base{%endblock%}</title>
		{# % block css%}<link rel="stylesheet" href="/media/css/estilo.css"/>{%endblock %#}
		<link rel="stylesheet" href="/media/bootstrap_3_2/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/media/bootstrap_3_2/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="/media/bootstrap_3_2/css/docs.min.css"/>
		<link rel="stylesheet" href="/media/css/starter-template.css"/>
		<script src="/media/js/jquery.js"></script>
		<script src="/media/js/jquery.form.min.js"></script>
		<script src="/media/js/demo.js"></script>
		<script src="/media/bootstrap_3_2/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(document).on('ready',function(){
					$.ajax({
						type:"GET",
						contentType:'application/json; charset=utf-8',
						dataType:"json",
						url:'/ws/productos/',
						success:function(response){
							var i = (response.length-1)-2;//antepenultimo elemento
							for(i;i<=(response.length-1);i++){
								$("#productosNuevos").append("<li>"+response[i].fields.nombre+"</li>");

							}//fin for
						}	
					});
			});//fin document
		</script>
	</head>

	<body>

		<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="{% url 'vista_principal' %}">Proyecto Ventas</a>
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a class='active' href="{% url 'vista_principal' %}">Inicio</a></li>
			 	<li><a href="{% url 'vista_productos' 1 %}">Productos</a></li>
			 	<li><a href="{% url 'vista_contactp' %}">Contacto</a></li>
			 	<li><a href="{% url 'vista_acerca' %}">Acerca de</a></li>
			 	{% if user.is_authenticated %}
			 		<li><a href="{% url 'vista_logout' %}">Cerrar sesion</a></li>
			 	{% else %}
			 		<li><a href="{% url 'vista_login' %}">Login</a></li>
			 	{%endif%}
		      </ul>
		      	{% if user.is_authenticated %}
					<p class='navbar-text pull-right'>
						Usuario : {{ user.username }}
					</p>
			 	{%endif%}
	        </div><!--/.nav-collapse -->
	      </div> <!--container -->
	    </div><!--navigation -->

		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="jumbotron">
						{% block content %}
						{% endblock %}
					</div>
				</div><!-- 9  -->
				<div class="col-md-3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Perfil</li>
							 {% if user.is_authenticated %}
								<p align='justify'>Bienvenido {{ user }}</p>
							{% else%}
								<a href="/login" class="btn btn-primary">Login</a>
							{% endif %}
								<br/><img src="{{ get_imagen_profile }}" width="50px" heigth="50px"/>
						</ul>
					</div>
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Mi Carrito</li>
							<p align='justify'>Carrito de super</p>
						</ul>
					</div>
				</div><!-- 3  -->
				<div class="col-md-3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list" >
							<li class="nav-header"><b>Nuevos Productos</b></li>
							<p align='justify' id='productosNuevos'></p>
						</ul>
					</div>
					<img src="/media/images/django.gif"/>
				</div><!-- 3  -->
			</div><!-- /div row -->
			<hr>
			<footer>
				<p>&copy; Open Project 2014. Version Django {{ django_version }}</p>
			</footer>
		 </div><!-- /container -->
	</body>
</html>